**/*.DS_Store
.DS_Store
**/**/.idea/
**/.idea/
**/.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__/


# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover